<DOCTYPE html>
	<html>
	<head>
		<title>Emotional Analysis</title>
		<link rel="stylesheet" type="text/css" href="css/main.css ">
		<p align="middle"; style="color:#545454; font-size: 40">Analysis Page</p>
	</head>
	<body>
		<div align = "middle">
			<button onclick="location.href='/';"; class='ph-button ph-btn-grey'>Back</a></button>
		</div><br>	
	<div>
        <img src="pictures/Tone_Analyzer.png"; style="width:608px;height:300px;">
    </div>
	</body>
	</html>