<DOCTYPE html>
	<html>
	<head>
		<title>Search Results</title>
		<link rel="stylesheet" type="text/css" href="css/main.css ">
		<p align="middle"; style="color:#545454; font-size: 40">Results Page</p>
	</head>
	<body>
		<div align = "middle">
			<button onclick="location.href='/';"; class='ph-button ph-btn-grey'>Back</a></button>
		</div><br>	
	</div>
	</body>
	</html>